
.bar{
    float: none;
}

.bar > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: large; 
}

.bar > ul > li{
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bar > ul > li> a{
    color: #FFFDFA;
    text-decoration: none;
    text-transform: uppercase;
}

.bar > ul > li > a:hover{
    color: #CBBEB2;
}

body {
    padding: 0;
    margin: 0;
    font-family: fantasy, sans-serif;
    background-color: #F0E9E2;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    background: #AA9785;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

.aheading{
    padding-bottom: 50px;
    padding-top: 30px;
}

img{
    margin: auto;
}
    

.carousel{
    margin-top: 75px;
}

@media (max-width:992px){
    .carousel{
        margin-top: 20px;
    }
}

